// theme colors
$primary:black;
$secondary:white;
$blue:rgb(13, 110, 253);
$darkblue:#0b5ed7;
$darkgray:#212529;
$lightgray:rgba(255, 255, 255, 0.55);
$dirtywhite:rgba(255, 255, 255, 0.75);
$whity:rgb(248, 249, 250);

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 10px;

$padding:10px;
$margin:10px;

$font-size:1rem;